.header-container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: cornflowerblue;
    padding: 5px 20px;
    &__search-area{
    display: flex;
    gap:10px
    
    }
}